<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>96空间首页</title>
</head>
<style>
	html,body{
		margin: 0;
		padding: 0;
	}
	header{
		width: 100%;
		height: 750px;
		background: url(/img/header.png) no-repeat;
		background-size: 100% 720px;
	}
	.head{
		width: 100%;
		height: 70px;
		background:#fff;
		filter:alpha(opacity:30);
		opacity:0.4;
	}
	.body{
		width: 1200px;
		margin: 0 auto;
		position: relative;
	}
	.loginPanel{
		position: absolute;
		right: 0;
		width: 430px;
		height: 440px;
		background:#fff;
		filter:alpha(opacity:30);
		opacity:0.4;
		margin-top: 156px;
	}
	.panelCenter{
		position: absolute;
		left: 246px;
		width: 504px;
		height: 384px;
		margin-right: 30px;
		background:#fff;
		filter:alpha(opacity:30);
		opacity:0.9;
		margin-top: 160px;
		border-radius:12px;
	}
	.panelCenter>div{
		margin-left: 28px;
		margin-top: 32px;
		font-size: 32px;
		color: #B69733;
	}
	.loginPanelChild{
		position: absolute;
		left: 760px;
		width: 370px;
		height: 380px;
		margin-right: 30px;
		background:#fff;
		filter:alpha(opacity:30);
		opacity:0.9;
		margin-top: 160px;
		border-radius:12px;
	}
	.func_left{
		position: absolute;
		left: -70px;
		width: 306px;
		height: 380px;
		margin-top: 160px;
		text-align: center;
	}
	.design{
		width: 306px;
		height: 190px;
		background:#fff;
		filter:alpha(opacity:30);
		opacity:0.9;
		border-radius:12px;
		margin-bottom: 8px;
	}
	.design>img,.design_1>img,.design_2>img{
		margin-top: 50px;
		margin-bottom: 16px;
	}
	.design_1{
		float:left;
		width: 152px;
		margin-right: 2px;
		height: 182px;
		background:#fff;
		filter:alpha(opacity:30);
		opacity:0.9;
		border-radius:12px;
	}
	.design_2{
		float: left;
		width: 152px;
		height: 182px;
		background:#fff;
		filter:alpha(opacity:30);
		opacity:0.9;
		border-radius:12px;
	}
	.title{
		position: relative;
		width: 1200px;
		height: 70px;
		margin: 0 auto;
		padding: 0 70px;
	}
	.title div{
		float: left;
		margin-top: 10px;
	}
	ul{
		margin: 0;
		padding: 0;
	}
	ul.titleRight{
		position: absolute;
		width: 500px;
		height: 60px;
		right: 0;
		margin-right: 70px;
	}
	.titleRight li{
		float: left;
		margin:26px 20px;
		font-size: 16px;
	}
	.titleRight button{
		width: 90px;
		height: 30px;
		margin-top: 18px;
		border-radius: 5px;
		border: none;
		color: #fff;
		background: #BCAC7B;
		font-size: 16px;
	}
	.active{
		position: relative;
		text-align: center;
		color: #BA9E43;
	}
	.active:after {
		content: "";
		position: absolute;
		bottom: -10px;
		left: 86px;
		width: 30px;
		height: 3px;
		background: #B69733;
	}
	.tabActive:after {
		content: "";
		position: absolute;
		bottom: -10px;
		left: 75px;
		width: 50px;
		height: 3px;
		background: #B69733;
	}
	.banner_2,.banner_3,.banner_4{
		width:1200px;
		margin: 0 auto;
	}
	.banner_3{
		margin-top: 100px;
	}
	.center img{
		float:left;
	}
	.bottom{
		margin-top: 140px;
		width: 100%;
		height: 550px;
		background: url(/img/buttomImg.png) no-repeat;
	}
	.footer{
		width: 1200px;
		margin: 36px auto 0 auto;
	}
	.bottom_center{
		margin-top: 50px;
		height:300px;
	}
	.bottom_center>div{
		float: left;
		width: 240px;
		height: 18px;
	}
	.bottom_title {
		padding-left:80px;
		font-weight: bold;
	}
	.bottom_func {
		padding-left:80px;
		margin-top: 12px;
		cursor: pointer;
	}
	a{
		text-decoration:none;
		color: #000;
	}
	.show{
		display: block;
	}
</style>
<body>
	<header>
		<div class="head">
			<div class="title">
				<div><img width="50" height="50" src="/img/96Logo-1.png"></div>
				<div><img style="margin-top: 12px;margin-left: 18px;" width="200" height="26" src="/img/96Logo-2.png"></div>
				<ul class="titleRight">
					<li style="list-style-type:none;"><a href="index.ejs">首页</a></li>
					<li><a href="3DCloudHall.ejs?login=true">3D云展厅</a></li>
					<li><a href="3DCloudDesign.ejs">3D云设计</a></li>
					<li id="varTab"><a href="login.ejs">登录/注册</a></li>
				</ul>
			</div>
		</div>
		<!--<div class="body">
			<div class="func_left">
				<div class="design">
					<img src="/img/design.png">
					<div><a style="font-size:30px;font-weight:bold;color:#B69733;" href="3DCloudDesign.ejs">开始设计</a></div>
				</div>
				<div class="design_1">
					<img src="/img/home.png">
					<div style="font-size:26px;font-weight:bold;color:#B69733;">VR体验</div>
				</div>
				<div class="design_2">
					<img src="/img/VRLogo.png">
					<div style="font-size:26px;font-weight:bold;color:#B69733;">我的主页</div>
				</div>
			</div>
			<div class="panelCenter">
				<div>案例展现</div>
			</div>
			<div class="loginPanelChild">
				111
			</div>
		</div>-->
	</header>
	<div class="banner_2">
		<img width="1200"  src="/img/VRImg.png">
	</div>
	<div class="banner_3">
		<div id="design" style="width:410px;height:80px;margin:0 auto;">
			<div class="designLi active" class="active" style="cursor:pointer;width:205px;text-align: center;float: left;font-size: 28px;font-weight: bold;">优秀设计</div>
			<div class="designLi" style="cursor:pointer;width:205px;text-align: center;float: right;font-size: 28px;font-weight: bold;">热门模型</div>
		</div>
		<div style="height:370px;margin-top:30px;">
			<img style="float:left;margin-top:150px;" src="/img/left.png">
			<div class="center">
				<img style="margin-left:50px;margin-top:50px;" src="/img/design-1.png">
				<img width="370" height="370" style="margin-left:60px;" src="/img/design-2.png">
				<img style="margin-left:50px;margin-top:50px;" src="/img/design-3.png">
			</div>
			<img style="float:left;;margin-left:50px;margin-top:150px;" src="/img/right.png">
		</div>
	</div>
	<div class="bottom">
		
	</div>
	<div class="footer">
		<img src="/img/footer-1.png">
		<div class="bottom_center">
			<div>
				<div class="bottom_title">新手指南</div>
				<div class="bottom_func">电脑端注册</div>
				<div class="bottom_func">手机端注册</div>
				<div class="bottom_func">收货指南</div>
				<div class="bottom_func">购买流程</div>
				<div class="bottom_func">积分规则</div>
				<div class="bottom_func">评价管理</div>
				<div class="bottom_func">邀请码的使用</div>
				<div class="bottom_func">会员级别</div>
			</div>
			<div>
				<div class="bottom_title">平台服务</div>
				<div class="bottom_func">厂商服务</div>
				<div class="bottom_func">物流服务</div>
				<div class="bottom_func">线路操作</div>
				<div class="bottom_func">服务说明</div>
			</div>
			<div>
				<div class="bottom_title">购物保障</div>
				<div class="bottom_func">隐私保护</div>
				<div class="bottom_func">广告规则</div>
				<div class="bottom_func">物流禁运品规定</div>
			</div>
			<div>
				<div class="bottom_title">帮助中心</div>
				<div class="bottom_func">参加抽奖</div>
				<div class="bottom_func">找回密码</div>
				<div class="bottom_func">获取优惠券</div>
				<div class="bottom_func">退货退款流程</div>
			</div>
			<div>
				<div class="bottom_title">关于我们</div>
				<div class="bottom_func">二维码</div>
				<div class="bottom_func">免责声明</div>
				<div class="bottom_func">联系我们</div>
			</div>
		</div>
		<div style="width:300px;margin:0 auto 10px auto;">
			<img style="float:left;" src="/img/gongan.png">
			<span>鄂公网安备  42010602000738号</span>
		</div>
	</div>
</body>
<script src="/js/jquery-2.2.4.min.js"></script>
<script type="text/javascript">
	$(function(){
		var name = "login";
		var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)");
	   var r = window.location.search.substr(1).match(reg);
	   console.log(unescape(r[2]));
	   if(r!=null){
			//return unescape(r[2]);
			if(unescape(r[2]) == "true"){
				$("#varTab").ejs("<a href='personal.ejs'>个人中心</a>");
			}
	   }else{
			return null;
	   }
	});
	$("#login").on("click",".tab",function(){
		$(this).siblings().removeClass("active");
		$(this).addClass("active");
		if($(this).text() == "登录"){
			$("#loginTab").css({display:'block'});
			$("#registTab").css({display:'none'});
		}else{
			$("#registTab").css({display:'block'});
			$("#loginTab").css({display:'none'});
		}
	});
	$("#design").on("click",".designLi",function(){
		$(this).siblings().removeClass("active");
		$(this).addClass("active");
	});
</script>
</html>