<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <!--使用ie内核使用最高的渲染展示效果-->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--设置支持移动端的视窗-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>按钮与图片</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/thinksite.css" />
    <!-- HTML5 shim and Respond.js 为了使用 IE8 更好的支持 HTML5 元素和媒体展示 -->
    <!-- 警告: Respond.js 当你使用 file:// 这种模式访问的时候不支持   支持http://访问模式-->
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  	<a href="#" class="btn btn-default">我是按钮</a>
  	<input type="button" class="btn btn-default" value="我是按钮" />
  	<div class="btn-group">
  	<button class="btn btn-default">我是按钮</button>
  	<button type="button" class="btn btn-primary btn-lg">（首选项）Primary</button>
  	<button type="button" class="btn btn-success btn-sm">（成功）Success</button>
  	<button type="button" class="btn btn-danger btn-xs">（危险）Danger</button>
  	</div>
  	<button class="btn btn-default active">我是按钮1</button>
  	<button class="btn btn-default disabled">我是按钮2</button>
    <!-- jQuery 使用bootstrap插件必须引入jQuery) -->
    <script src="js/jquery.min.js"></script>
    <!-- 使用bootstrap插件必须引入 -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>
