<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <!--设置了静态文件目录为 public 文件夹.href目录下为public-->
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
       body{
           background:skyblue;
           color:#fff;
           padding:30px;
       }
       h1{
           foot-size:48px;
           //文字间距
           letter-spacing:2px;
           text-align:center;
       }
       p{
           foot-size:16px;
           text-align:center;
       }
    </style>
  </head>
  <body>
    <h1>Welcome To 我的网站</h1>
    <p><strong>This is very good</strong></p>
  </body>
</html>